-e git+https://github.com/andrejsab/hydra-py.git#egg=hydra
-e git+https://github.com/HTTP-APIs/hydrus.git#egg=hydrus
-e git+https://github.com/HTTP-APIs/hydra-flock-central-controller.git#egg=flock_controller
